<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<configSections>
</configSections>
<connectionStrings>
    <add name="ThanhTDSE62847_Final_Project.Properties.Settings.QuanLySachDBConnectionString" connectionString="Data Source=.;Initial Catalog=QuanLySachDB;Persist Security Info=True;User ID=sa;Password=12" providerName="System.Data.SqlClient" />
<add name="QuanLySachDBEntities" connectionString="metadata=res://*/QuanLySachEF.csdl|res://*/QuanLySachEF.ssdl|res://*/QuanLySachEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QuanLySachDB;persist security info=True;user id=sa;password=12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>